<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Student.">
    <title>Lab_3</title>
   
   
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/modalWindows.css">
    <link rel="stylesheet" href="/css/chat.css">
    <link rel="stylesheet" href="/css/header.css">
   <script src="/socket.io/socket.io.js"></script>
    
    <script src="/js/notification.js" defer></script>
    <script src="/js/chat_script.js" defer></script>

    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



	
  
	
</head>
<body>
  
  
  <div id='new' class="unvisible" >
    <div class="card border-secondary">
        <div class="card-header d-flex justify-content-end">
            <button id="closeRoom" type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
           
                <div class="form-group">
                    <label for="exampleInputEmail1">Room name</label>
                    <input type="text" class="form-control" id="roomName">
                  
                </div>
                <div class=" d-flex justify-content-end">
                <button id="CreateRoom" type="button" class=" mt-3 btn btn-primary ">Create</button>
              </div>
            
        </div>
    </div>
</div>


    <header id="header">
        <h2 id="header-title">CMS</h2>
        <div class="user_Panel">
            <div class="bell-container">
                <span class="notification-dot"></span>
               
                  <img class="bell" src="/Images/bell.png" alt="bell">
            
            </div>
            <div class="user-notification">
                <ul id="notificationPanel" class="notification-panel">
                  
                </ul>
              </div>
            
              <div class="user-menu">
                <img class="user-img" src="/Images/user-icon.png" alt="User Avatar">
                <span id="nameUp" aria-label="Ім'я користувача: Mykhailiv Volodymyr" class="Profile-name" ><%= name%></span>
                <div class="user-drop-container">
                    <ul  class="dropdown_menu">
                        <li><button>Profile</button></li>
                        <li>
                          <a href="/Logout">
                          <button>Log out</button>
                        </a>
                        </li>
                    </ul>
                </div>
                </div>
        </div>
    </header>

   
    <main class="main">
        <nav id="navigation">
            <ul id="nav_list">
              <li> <a href="#">Dashboard</a> </li>
              <li> <a href="/student">Students</a></li>
              <li> <a href="/tasks">Tasks</a></li>
            </ul>
        </nav>


  <section class="students">
            <h1 class="student-title">Messages</h1>
           
            <div id="main-chat-contreiner" class="container">
              <div class="row">
                  <div id="rooms" class=" sect col-3">
                    <div class="d-flex justify-content-between">
                      <p class="room-names">Chat rooms</p>
                     <button id="NewRoom">+ New chat room</button>
                    </div>
                    <div id="roomBlock">
                    
                  </div>
                  </div>


                  



                 
                  <div id="messages" class="conteiner sect col-7">
                    <h5 id="chatName">Chat name</h5>
                    <p class="ms-1" id="chat-name">Members</p>
                    <div id="user-icon-conteiner" class="d-flex conteiner">
                      <!-- <div class="user-chat-image d-flex flex-column align-items-center">
                      <img class="u-image-con" src="/Images/user-icon.png" alt="user">
                      <p id="chat-user" class="ms-1 name-in-chat"></p>
                    </div> -->
                    
                   
                  
                    <!-- <button id="add-user-to-chat" class=" mt-1 ms-3 btn btn-sm bg-secondary">+</button> -->
                    </div>

                  <div id="message-field">

                    

                  
                </div>
                  
                  <div id="form-message"   class="conteiner d-flex justify-content-center align-items-center"  style="border:1px solid black; border-radius: 10px;">
                    <div  class="container mt-3">
                      <div id="send-message" class="conteiner row">
                          <div class="pb-2 col">
                              <input type="text" class="form-control" placeholder="Enter your message" id="messageInput">
                          </div>
                          <div class=" pb-2 col-auto">
                              <button  type="button" id="send-message-btn" class="btn btn-primary" ">Send</button>
                          </div>
                      </div>
                  </div>
                  
                </div>
                  </div>
                 
              </div>
          </div>
          

          
           
          </section>


       

</body>
</html>