<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Student.">
    <title>Lab_3</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/modalWindows.css">
    <link rel="manifest" href="manifest.json">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/script.js" defer></script>
    
    <script src="/js/notification.js" defer></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
    <script>
      const userName = "<%= name%>";
    </script>

</head>
<body>
  
    <header id="header">
        <h2 id="header-title">CMS</h2>
        <div class="user_Panel">
            <div class="bell-container">
                <span class="notification-dot"></span>
                <a href="/chats">
                  <img class="bell" src="/Images/bell.png" alt="bell">
              </a>
            </div>
            <div class="user-notification">
                <ul id ="notificationPanel" class="notification-panel">
                  <!-- <li>
                    <div class="user-info">
                      <img src="/Images/massage-user-icon.png" alt="user">
                      <span class="user-name">Ivan Bash</span>
                    </div>
                    <div class="message">Message from Ivan</div>
                  </li>
                  
                 

                  <li>
                    <div class="user-info">
                      <img src="/Images/massage-user-icon.png" alt="user">
                      <span class="user-name"> Volodymyr Oleh</span>
                    </div>
                    <div class="message">Message from Oleh</div>
                  </li>
                  <li>
                    <div class="user-info">
                      <img src="/Images/massage-user-icon.png" alt="user">
                      <span class="user-name">Petro</span>
                    </div>
                    <div class="message">Message from Petro</div>
                  </li> -->
                </ul>
              </div>
            
            <div class="user-menu">
            <img class="user-img" src="/Images/user-icon.png" alt="User Avatar">
            <span id="nameUp" aria-label="Ім'я користувача: Mykhailiv Volodymyr" class="Profile-name" ></span>
            <div class="user-drop-container">
                <ul class="dropdown_menu">
                    <li><button>Profile</button></li>
                    <li>
                      <a href="/Logout">
                      <button>Log out</button>
                    </a>
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </header>

   
    <main class="main">
        <nav id="navigation">
            <ul id="nav_list">
                <li> <a href="#">Dashboard</a> </li>
                <li> <a href="/student">Students</a></li>
                <li> <a href="/tasks">Tasks</a></li>
            </ul>
        </nav>


        <section class="students">
            <h1 class="student-title">Students</h1>
            <div class="students__list">
              <div class="add-btn">
              <button class="students__btn" id="add-student-btn">+</button>
            </div>
              <table class="students__table" id="students-table">
                <thead>
                  <tr>
                    <th>  <form>
                        <label for="checkbox-main" aria-label="Checkbox Label"></label>
                        <input type="checkbox" id="checkbox-main">
                    </form>
                    </th>
                    <th scope="row">Group</th>
                    <th scope="row">Name</th>
                    <th scope="row">Gender</th>
                    <th scope="row">Birthday</th>
                    <th scope="row">Status</th>
                    <th scope="row">Options</th>
                  </tr>
                </thead>
                <tbody id="students-table-body">
                  
                </tbody>
              </table>
            </div>
          </section>



          <div id="warning-modal">
            <div class="modal-content">
              <div class="modal-header">
                <h2>Warning!</h2>
                <button class="close" id="close-modal" type="button">&times;</button>
              </div>
              <div class="modal-body" id="confirm-text">
                <p>Are you sure you want to delete user ?</p>
              </div>
              <div class="modal-footer">
                <button class="close" id="cancel-button" type="button">Cancel</button>
                <button id="ok-button" type="button">Ok</button>
              </div>
            </div>
          </div>




          <div class="add-modal" id="add-modal" >
            <div class="add-student-form" >
              <div class="modal-header">
                <h2 id="form-title">Add student</h2>
                <button onclick="CloseWindowAdd()" class="close" id="close-modal-add" type="button">&times;</button>
              </div>
              <div class="modal-body" id="confirm-text-add">
                <form class="add-student__form" id="add-student-form">
                  <input type="number" id="student-id" name="student-id" hidden>
                  <div class="form-line">
                  <label for="group">Group</label>
                  <select class="line-input" name="group" id="group">
                    <option class="placeholder option-placeholder" value="" disabled hidden selected>- Select group -</option>
                    <option value="PZ-21">PZ-21</option>
                    <option value="PZ-22">PZ-22</option>
                    <option value="PZ-23">PZ-23</option>
                    <option value="PZ-24">PZ-24</option>
                    <option value="PZ-25">PZ-25</option>
                    <option value="PZ-26">PZ-26</option>
                    <option value="PZ-27">PZ-27</option>
                  </select>
                </div>
                <div class="form-line">
                  <label for="name">First Name</label>
                  <input class="line-input" type="text" name="name" id="name" required>
                </div>
                <div class="form-line">
                  <label for="surname">Last Name</label>
                  <input class="line-input" type="text" name="surname" id="surname" required>
                </div>
                <div class="form-line">
                  <label for="gender">Gender</label>
                  <select class="line-input" name="gender" id="gender">
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                  </select>
                </div>  
                  <div class="form-line">
                    <label for="birthday">Birthday</label>
                    <input class="line-input" type="date" name="birthday" id="birthday" required>
                  </div>
              </form>
              </div>
              <div class="modal-footer">
                <button onclick="CloseWindowAdd()" class="close" id="cancel-button-add" type="button">Cancel</button>
                <button  id="ok-button-add" type="button">Ok</button>
                <button  id="ok-button-edit" type="button">Save</button>
              </div>
            </div>
          </div>

    </main>

    <!-- <script>
      if ('serviceWorker' in navigator) {
          window.addEventListener('load', function() {
              navigator.serviceWorker.register('sw.js').then(function(registration) {
                  console.log('ServiceWorker registration successful with scope: ', registration.scope);
              }, function(err) {
                  console.log('ServiceWorker registration failed: ', err);
              });
          });
      }
  </script> -->

</body>
</html>