.sect{
    border: 1px solid black;
    height: 75vh;
}


#messages{
    margin-left: 8%;
    position: relative;
   
}
#main-chat-conteiner{
    height: 65vh;
}

#NewRoom{
    background: none;
    border:none;
    font-size: 14px;
}

.some-room{
    width: 95%;
    height: 8vh;
   display: flex;
    border-radius: 10px;
    background: #c7c5bf;
}

#u-image {
    margin-top: 2%;
}

#u-name{
   margin-top: 5%;
   margin-left: 5%;
}

#chat-name {
    font-size: 16px;
    margin-left: 0%;

}


#add-user-to-chat{
    height: 30px;  
}

.u-image-con{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-chat-image img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: -3%;
}

.user-chat-image p {
    font-size: 12px;
}

#form-message{
    width: 95%;
    position: absolute; 
    margin-bottom: 2px;
    bottom: 0; 
}

#message-field{
    overflow-y: auto;
    height:60%;
}


.left-text{
    font-size: 14px;
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 5px;
   
    width: 30%;
    background: #c7c5bf;
}

#new{
    width: 17%;
    height: 7vh;
    position: fixed;
    top: 22%;
    left: 45%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 9999; /* Забезпечує, що вікно буде поверх інших елементів */
    
   ;
}

.visible{
    display:block;
}

.unvisible{
    display:none;
}


@media screen and (max-width: 770px) {
    .room-names{
        font-size: 12px;
    }
    #NewRoom{
        font-size: 11px;
    }
    #message-field{
        overflow-y: auto;
        height:54%;
    }
}