#nav_list {
    margin-left: 4%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}

#nav_list li {
    padding-bottom: 8px;
}
#nav_list li a {
    font-size: 1em;
    text-decoration: none;
    color: black;
}

#nav_list li a:focus {
    font-weight: 700;
}


.main {
    display: flex;
    padding-left: 4%;
    padding-top: 2%;
}



.students {
    margin-left: 7%;
    width: 100%;
}

.student-title{
    font-size: 1.5em;
    font-weight: 500;
}


.students__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Вирівняти по вертикалі до кінця */
    width: 97%;
}

.students__btn{
    align-self: flex-end;
    margin-left: 94%;
    background-position: center;
    height: 5vh;
    min-width: 2.5vw;
    border: 1px solid black; 
    background-color: white;
    font-size: 1.5rem;
}

.add-btn {
    display: flex;
    justify-content: flex-end; /* Вирівняти кнопку по вертикалі з кінцем таблиці */
    align-items: flex-end; /* Вирівняти кнопку по горизонталі з кінцем таблиці */
    height: 100%; 
}

.students .students__table {
    margin-top: 1%;
}

.students .students__table th {
    font-weight: 100;
}

.students__table {
    border-collapse: collapse;
    width: 97%;
}

.students__table td {
    font-weight: bold;
    font-size: 18px;
    border: 1px solid black;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
} 

  
.students__table th {
    border: 1px solid black;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 14px;
}

.students__table th:nth-child(1) {
   width: 5vw;
}

.students__table th:nth-child(2) {
    width: 13vw;
 }

 .students__table th:nth-child(3) {
    width: 28vw;
 }

 .students__table th:nth-child(4) {
   width: 9vw;
 }

.students__table th:nth-child(5) {
    width: 15vw;
}

.students__table th:nth-child(6) {
    width: 15vw;
}
.students__table th:nth-child(7) {
    width: 15vw;
}


.img-pencil, .img-delete {
    height: 3.5%;
    width: 1.75vw;
    margin-top: 7%;
}

.btn-edit, .btn-delete {
    background-position: center;
    height: 4%;
    width: 2.75vw;
   
    border: 1px solid black; 
    background-color: white;
}

.btn-edit {
    margin-right: 10%;
}
.btn-edit:hover, .btn-delete:hover, .students__btn:hover {
    background-color: #b56eaaa2;
    scale: 1.1;
}

.status-circle {
   
    margin: 0 auto;
    height: 20px;
    width: 20px;
    background-color: green;
    border-radius: 50%;
}

input[type="checkbox"] {
    width: 60%;
    height: 60%;
}

.status-color {
    background-color: rgb(172, 172, 172);
}

@media screen and (max-width: 768px) {
    .students__table th{
        font-size: 12px;
    }
    .students__table td {
        font-size: 14px;
    }
    .status-circle {
        width: 15px;
        height: 15px;
    }
   
     .students__btn {
        font-size: 1.2rem;
        height: 4vh;
     }
    
}

@media screen and (max-width: 560px) {
    .students__table td, th{
        font-size: 10px;
        white-space: nowrap;
    }
    .students__table td {
        font-size: 10px;
        white-space: nowrap;
    }
    .status-circle {
        width: 13px;
        height: 13px;
    }
   
     .students__btn {
        font-size: 1rem;
        height: 3vh;
     }
}

@media screen and (max-width: 390px) {
    .students__table th{
        font-size: 8px;
        white-space: nowrap;
    }
    .students__table td {
        font-size: 9px;
        white-space: nowrap;
    }
    .students {
        margin-left: 4%;
    }
    .status-circle {
        width: 10px;
        height: 10px;
    }
     .students__btn {
        font-size: .6rem;
        height: 2vh;
       
     }
}