/* Стили для модального вікна */

#warning-modal {
    display: none;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    margin: 15% auto;
    padding: 20px;
    width: 50%;
    background-color: white;
    border-radius: 5px;
    position: relative; /* Додано для позиціонування кнопки закриття */
  }
  
  .modal-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .modal-header h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
  }
  
  #close-modal, #close-modal-add {
    position: absolute; /* Позиціонування кнопки закриття */
    top: 10px;
    right: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    background-color: transparent; /* Прозора кнопка */
    border: none; /* Без рамки */
  }
  
  .modal-body {
    padding: 20px 10px;
    text-align: center;
  }
  
  .modal-footer {
    padding: 10px 20px;
    border-top: 1px solid #ddd;
    text-align: right;
  }
  
  .modal-footer button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #cancel-button, #cancel-button-add {
    background-color: #f9f9f9;
  }
  
  #ok-button {
    background-color: #dc3545;
    color: white;
  }

  @media screen and (max-width: 375px) {
    .modal-footer button {
        font-size: 12px;
    }
  }

  /* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */



.add-modal {
    display: none;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.4);
  }


.add-student-form {
    margin: 15% auto;
    padding: 20px;
    width: 40%;
    background-color: white;
    border-radius: 5px;
    position: relative; /* Додано для позиціонування кнопки закриття */
}

.add-student-form .form-line {
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    /* padding: .75rem; */
    padding: 1%;
    padding-left: 10%;
  }

.line-input {
    width: 50%;
    height: 4vh;
    margin-right: 3%;
   
}

#ok-button-add {
    background-color: white;
}

#ok-button-edit {
  background-color: white;
}
  
@media screen and (max-width: 768px) {

    .add-student-form {
        width: 50%;
    }
    .add-student-form .form-line{
        font-size: 14px;
    }
    .line-input{
        /* margin-right: 20%; */
        height: 3.2vh;
        font-size: 12px;
    }
}
@media screen and (max-width: 550px) {
    .add-student-form {
        width: 70%;
    }
    .add-student-form .form-line{
        font-size: 12px;
    }
    .line-input{
        margin-right: 5%;
        height: 2.5vh;
    }
}

@media screen and (max-width: 390px) {
    .add-student-form {
        width: 75%;
    }
    .add-student-form .form-line{
        font-size: 11px;
    }
    .line-input{
        margin-right: 5%;
        height: 2vh;
        font-size: 10px;
    }
}




