.new-task-button{
    font-size: 16px;
    background: none;
    border: 0px solid black;
}

#tasksForm{
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 9999; /* Забезпечує, що вікно буде поверх інших елементів */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
   
    
}

.tasks-form-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Тут 0.5 - це прозорість фону (від 0 до 1) */
    z-index: 9998; /* Забезпечує, що фон буде під вікном */
    display: none; /* Початково приховує фон */
}

.unvisible{
    display: none;
}

.visibble {
    display: block;
}